# Data Exploration
*by Aubry d'Andoque on 12/21/19*

## Getting Ready

### Importing Librairies

In [5]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt

### Importing Data
Data file must be in './data/'

In [28]:
with open('./data/training.txt', 'r') as f :
    testing_set = [] 
    for line in f:
        line = line.split()
        testing_set.append(line)

dataset = pd.DataFrame(testing_set, columns=["Node1","Node2","Edge"])

## Node File Analysis

In [29]:
dataset.head()

   Node1  Node2 Edge
0  10481   5428    1
1   7353  30328    0
2   8627   3547    1
3  10232  21925    1
4   7110   3288    1

In [30]:
dataset.describe()

         Node1   Node2    Edge
count   453797  453797  453797
unique   33128   33226       2
top       8019    1819       1
freq     10226     248  283623

ValueError: No group keys passed!